<h2><%= gettext("Edit Complectation") %></h2>

<%= render "form.html", Map.put(assigns, :action, address_complectation_path(@conn, :update, @address.id, @complectation)) %>

<span><%= link gettext("Cancel"), to: address_path(@conn, :show, @address) %></span>
