<h2><%= gettext("New Complectation") %></h2>

<%= render "form.html", Map.put(assigns, :action, address_complectation_path(@conn, :create, @address)) %>

<span><%= link gettext("Cancel"), to: address_path(@conn, :show, @address) %></span>
