<h2>New Complectation</h2>

<%= render "form.html", Map.put(assigns, :action, address_complectation_path(@conn, :create, 0)) %>

<span><%= link "Back", to: address_complectation_path(@conn, :index, 0) %></span>
