<h2>Edit Break</h2>

<%= render "form.html", Map.put(assigns, :action, address_break_path(@conn, :update, @address.id, @break)) %>

<span><%= link "Cancel", to: address_break_path(@conn, :index, @address) %></span>
