<h2>New Break</h2>

<%= render "form.html", Map.put(assigns, :action, address_break_path(@conn, :create, @address.id)) %>

<span><%= link "Cancel", to: address_break_path(@conn, :index, @address.id) %></span>
